node_modules/
.next/
.env
.env.local
.env.*.local
*.tsbuildinfo
npm-debug.log*
.DS_Store
Thumbs.db
.frolic-session.json
.frolic-session.json
.frolic-backup-2026-02-17T05-26-43-652Z.json
.frolic-backup-2026-02-17T05-27-52-193Z.json
.frolic-backup-2026-02-17T05-29-17-475Z.json
